.a1{
    height: 350px;
    width: 300px;
    border-radius: 10px;
box-shadow: color #0796d6  12px 10px 8px;
border-top: 16px solid #0796d6 ;
border-bottom: 8px solid #0796d6;
opacity: 1;


    /* border-bottom-color: blue;
    border-top-color: blue; */
    /* border:solid 3px blue */
    /* background-color: rgb(233, 228, 236);
    transition: background-color 1s ease-out; */
}
/* .a1:hover{
    background-color: aquamarine;
transform: scale(1.1);
} */
 .head1{
    display: flex;
    justify-content: center;
 }
 .para00{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    font-style:inherit;
 }
.a2{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    box-shadow: color 12px 10px 8px #0796d6 ;
border-top: 16px solid #0796d6 ;
border-bottom: 8px solid #0796d6;
opacity: 1;
}
.h{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.a3{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    box-shadow: 12px 12px 18px color#0796d6  ;
border-top: 16px solid #0796d6 ;
border-bottom: 8px solid #0796d6;
opacity: 1;
}
.a123{
    display: flex;
    justify-content: center;
    gap: 60px;

}
.a45{
    display: flex;
    justify-content: center;
    gap: 30px;
  
}
.a4{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 253, 255);
    box-shadow: color #0796d6  12px 10px 8px;
border-top: 16px solid #0796d6 ;
border-bottom: 8px solid #0796d6;
opacity: 1;
}
.a5{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(250, 247, 250);
    box-shadow: color #0796d6  12px 10px 8px;
border-top: 16px solid #0796d6 ;
border-bottom: 8px solid #0796d6;
opacity: 1;
}
span{
   color: #0796d6;
}
.spantag{
    display: flex;
    justify-content: center;
}
.mina1{
    display: flex;
    justify-content: center;

}
.img-ser{

    display: flex;
    justify-content: center;
}
.h1p{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.h1pa{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}
.estate1{
    display: flex;
    font-size:10px;
    justify-content: space-around;
    /* justify-content: center; */
    gap: 190px;

}
.estate2{
    display: flex;
    font-size:10px;
    justify-content: space-around;
    /* justify-content: center; */
    gap: 190px;
}
.real{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    gap: 320px;
}
.real2{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    gap: 320px;
}
.img-ser{
    display: flex;
    justify-content: center;
}
