.navbar{
     display: flex;
     justify-content: center;
     gap: 50px;
     align-items: center;
     color: #0796d6;
     background-color: aliceblue;
     box-shadow: 2px 9px 10px  #0796d6;
     border-bottom: solid 16px #0796d6;
     height: 80px;
     position: sticky;
     text-decoration: none;
    
     list-style: none;
     /* flex-direction: row; */
}
li{
      text-decoration: none;
     list-style: none;
}
a{
    text-decoration: none;
    color: #0796d6;
   font-size: 20px;
}
.impact-img {
    width: 200px;
    height: 200px;
position: relative;right: 100px;
}
.contact-but {
    background-color: #0796d6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;left: 100px;
}